
@{
    ViewData["Title"] = "Test";
    Layout = "~/Views/Shared/_LayoutTongQuat.cshtml";
}

<h2>Tesdsssssssssssssssssssssssssssssssssssddddddddddddddddddddddddddddddddddddddddddddđaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaat</h2>

