@model IEnumerable<QLBH.Models.Loai>
<div class="footer">
    <div class="container">
        <div class="w3_footer_grids">
            <div class="col-md-4 w3_footer_grid">
                <h3>Liên hệ</h3>

                <ul class="address">
                    <li><i class="glyphicon glyphicon-map-marker" aria-hidden="true"></i>105 Bà Huyện Thanh Quan, P7, Q3, TPHCM.</li>
                    <li><i class="glyphicon glyphicon-envelope" aria-hidden="true"></i><a href="mailto:info@nhatnghe.com">info@nhatnghe.com</a></li>
                    <li><i class="glyphicon glyphicon-earphone" aria-hidden="true"></i>+84 028393 22735</li>
                </ul>
            </div>

            <div class="col-md-4 w3_footer_grid">
                <h3>Danh mục</h3>
                <ul class="info">
                    @foreach (var lo in Model)
                    {
                        <li>
                            <i class="fa fa-arrow-right" aria-hidden="true"></i>
                            <a asp-controller="HangHoa" asp-action="List" asp-route-loai="@lo.MaLoai">@lo.TenLoai</a>
                        </li>
                    }
                </ul>
            </div>
            <div class="col-md-4 w3_footer_grid">
                <h3>Profile</h3>
                <ul class="info">
                    <li><i class="fa fa-arrow-right" aria-hidden="true"></i><a href="products.html">Store</a></li>
                    <li><i class="fa fa-arrow-right" aria-hidden="true"></i><a href="checkout.html">My Cart</a></li>
                    <li><i class="fa fa-arrow-right" aria-hidden="true"></i><a href="login.html">Login</a></li>
                    <li><i class="fa fa-arrow-right" aria-hidden="true"></i><a href="registered.html">Create Account</a></li>
                </ul>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>

    <div class="footer-copy">

        <div class="container">
            <p>© 2018 Super Market. All rights reserved | Design by <a href="http://nhatnghe.com/">Lớp ASP.NET Core 2.0 khóa 1</a></p>
        </div>
    </div>

</div>
<div class="footer-botm">
    <div class="container">
        <div class="w3layouts-foot">
            <ul>
                <li><a href="#" class="w3_agile_facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                <li><a href="#" class="agile_twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                <li><a href="#" class="w3_agile_dribble"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
                <li><a href="#" class="w3_agile_vimeo"><i class="fa fa-vimeo" aria-hidden="true"></i></a></li>
            </ul>
        </div>
        <div class="payment-w3ls">
            <img src="~/LayoutMau/images/1.png" alt=" " class="img-responsive">
        </div>
        <div class="clearfix"> </div>
    </div>
</div>