@model IEnumerable<QLBH.MyModels.Product>

@{
    ViewData["Title"] = "Danh sách";
    Layout = "~/Views/Shared/_LayoutTongQuat.cshtml";
}
@{
    string loai = "Tất cả loại sp";
    loai = ViewBag.Loai.TenLoaiSeoUrl;
}
<style>
    .hanghoa {
        height: 250px;
        border-radius: 5px;
        text-align: center;
        position: relative;
    }

        .hanghoa:hover {
            border: 1px solid blue;
        }

        .hanghoa img {
            height: 150px;
        }

    .giaban {
        position: absolute;
        bottom: 5px;
        right: 5px;
        font-size: large;
        color: blue;
    }
</style>
<div class="row">
    @foreach (var hh in Model)
    {
        <div class="col-md-3 hanghoa">
            <a href="/@loai/@hh.TenHHSeoUrl">
                <img src="~/Hinh/HangHoa/@hh.Hinh" />
            </a>
            <h3>@hh.TenHH</h3>
            <div class="giaban">Giá bán: @hh.DonGia đ</div>
        </div>
    }
</div>